<div class="form-container">
  <div>
    <form [formGroup]="restaurantForm" (ngSubmit)="postRestaurant()" class="form">
      <label for="name">Nome Ristorante</label>
      <input name="name" id="name" formControlName="name">
      <label for="menu">Menu Ristorante</label>
      <input name="menu" id="menu" formControlName="menu">
      <button type="submit" value="Aggiungi ristorante" class="form-button">Aggiungi ristorante</button>
    </form>
  </div>
  <div class="get-restaurant-list">
    <ul>
      <li *ngFor="let restaurant of restaurantList">
        <p>{{restaurant.name}}</p>
        <p>{{restaurant.menu}}</p>
      </li>
    </ul>
  </div>
</div>

